.idea
*.pyc
*.txt
/TestCode/
/log/
/data/standardData.tif
/data/stackData.tif
/measurement/
/data/S_1.252021_0209_1828_Raw_Image.tif
/data/2021_0218_1554_Raw_Image.tif
/data/Sara_2021_0218_1644_Raw_Image.tif
/hexSimProcessor_test.py
/tes_console.py
/archive/
.ipynb_checkpoints
