/.idea/workspace.xml
*.txt
/.idea/HexSimInstrument.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/TestCode/
/log/
/data/standardData.tif
/data/stackData.tif
